<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" verbose="true" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">apps/machine/console/src</directory>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="all">
            <directory>apps/machine/console/tests</directory>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
